<h1>Room View - {{vm.room.name}}</h1>


<div>
    <h4>messages : </h4>
    <ul ng-repeat="msg in vm.room.msgs">
        <li>
            <div><span> {{msg.auth}} </span><span> :  </span><span> {{msg.body}}</span></div>
        </li>
    </ul>
</div>


<div style="margin-top: 50px; border-top: 1px solid black; padding-top: 10px">
<form ng-submit="vm.addNewMsg()" >
    <div style="float: left; margin-left: 5px;">
        <span>Auth</span><span>:</span><input ng-model="vm.newMsgAuth">
    </div>
    <div style="float: left; margin-left: 5px;">
        <span>Message</span><span>:</span><input ng-model="vm.newMsg">
    </div>
    <button style="float: left; margin-left: 5px;">Add a new Msg</button>
</form>
</div>